{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
    <h1 class="pt-5">Мой профиль</h1>
    <a href="/logout" class="px-3">Выйти</a>
</main>
<main role="main" class="container px-5">
    <div class="px-5">
    <h2 class="pt-5">Мои объявления</h2>
    <div class="col-md6 border rounded">
    {% for item in adds%}
        {% if item.lost_find == 'потерян' %}
        <h2>Пропала {{item.type_pet}}: {{item.place}}</h2>
    {% elif item.lost_find == 'найден' %}
        <h2>Найдена {{item.type_pet}}: {{item.place}}</h2>
    {% endif %}
    <div>
        {{item.description}}
    </div>
    <div>
        {{item.time}}
    </div>
    <div>
        Автор - {{item.user.name}}
    </div>
    <div class="pt-3">
        <a href="/adds/{{ item.id }}" class="btn btn-success">
            Подробнее
        </a>
    </div>
    {% endfor %}
    </div>
    </div>
</main>
{% endblock %}